<template>
    <div   class="enfant"> 
        <form id="btn">
        <button   @click="sendMessage"> seconnecter</button> 
        </form>
    </div>     
</template>
<script>
export default {
    data(){
        return{
            message:'',
        }
    },
    methods:{
        sendMessage(){
            
            this.$emit('message-sent',{
            message:'authentification réussie',
        })
        }}
        
        
        }
    
</script>
<style >

</style>