<template>
   <div>
        <div class="container">
        <div class="logo-holder">
  <span  class="material-icons">
        authentification
                </span>
        </div>
        <div class="contents">
            <form id="form">
                <div class="inputs-holder">
                    <input id="user" type="text" placeholder="Username" required>
                    <input id="pass" class="password" type="password" placeholder="Password" required>
                </div>
                <div class="checkbox-holder">
                    <input type="checkbox" id="checkbox">
                    <label for="checkbox">Keep me Sign in</label>
                </div>
                <input type="submit" id="btn" value="SIGN IN">
            </form>
        </div>
<enfant v-if="username==='ikram'" @message-sent="updateMessage"/>
        {{message}}
    </div>
   </div> 
</template>
<script>
import enfant from "./enfant"
export default {
    name:"parent",
    data:()=>({
        message:"nomessage",
    }),
    
    components:{
        enfant
    },
    methods:{
        updateMessage(payload){
            this.message=payload.message}
        }, 
        }
        </script>
        <style>
         fonts.googleapis.com
fonts.googleapis.com
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.material-icons{
  font-size: 50px;
  display: block;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  background: rgb(0,212,255,1);
background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://l.facebook.com/l.php?u=https%3A%2F%2Ffr.hespress.com%2Fwp-content%2Fuploads%2F2018%2F11%2FMedecin.jpg%3Ffbclid%3DIwAR2nXEf_xJYlU4kud2gYofQ_8pjJxnDk42qzduw22W4SJGSQHKbm6qnr0ok&h=AT2FsENHZwvdVl38OFGz7nfLVMokKeiLnqO4iUe-9jArg8t4q52S0PiVUvogYIRqWL8BPFBSnwrKnuG4E9YitlG1XJYMkX_vhHU704tVDuyvYVgb6WIgdaRa-kfhXJ2QNSuDKg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-content: center;
  color: #fff;
}
.container {
  padding: 10px;
  min-height: 500px;

}
.container .logo-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .logo-holder .logo {
  height: 100px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: solid 2px;
}
.container .logo-holder .title {
  font-size: 40px;
}
.container .contents {
  margin-top: 3rem;
}
.container .contents form .inputs-holder input {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  border: 0;
  padding: 10px 15px;
  width: 100%;
  height: 40px;
  color: #fff;
  font-size: 80%;
  display: inline-block;
}
.container .contents form .inputs-holder input:focus {
  outline: none;
}
.container .contents form .inputs-holder .password {
  margin-top: 0.5rem;
}
.container .contents form .inputs-holder ::-webkit-input-placeholder {
  color: #e2e2e2;
  opacity: 1;
}
.container .contents form .inputs-holder :-ms-input-placeholder {
  color: #e2e2e2;
  opacity: 1;
}
.container .contents form .inputs-holder ::placeholder {
  color: #e2e2e2;
  opacity: 1;
}
.container .contents form .checkbox-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
  margin-top: 0.8rem;
}
.container .contents form .checkbox-holder #checkbox {
  height: 18px;
  width: 18px;
  margin-right: 8px;
}
.container .contents form #btn {
  background-color: #2ecc71;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  display: block;
  border: none;
  color: #fff;
}
.container .contents form #btn:hover {
  background-color: #000;
}
.container .contents form #btn:focus {
  outline: none;
}
.container .contents form .forget-container {
  margin-top: 1rem;
  font-size: 14px;
}
.container .contents form .forget-container .text {
  text-align: center;
}
</style>   
      	